@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root{
    --base-color: #1a23ca; 
    --accent-color: #65cbdd ; 

    
    --base-font: 'Times New Roman', Times, serif;
    --accent-font: 'Pirata One', cursive; 
    background-color: #caf0f8 ;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box; 
}

body{
    font-family: var(--base-font);
    color: var(--base-color);
}

h1, h2{
    font-family: var(--accent-font);
    color: var(--accent-color)
}

.img-round{
    width: 25vh;
    height: 45vh;
    
    border-radius: 100%;
}

header, main, footer{
    display:flex;

    padding: 1em;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
}

ul{
    list-style: none;
}

li{
    padding: 0.5em;
}

a{
    color: var(--base-color);
    text-decoration: none;
}

a:hover{
    color: var(--accent-color)
}

.some-icons{
    display: flex;

padding: 0.5em;

    font-size: 3em;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.bold-text{
    font-weight: bold;
}